@import "tailwindcss";

@theme {
  --color-primary: #7a0520;
  --color-secondary: #775a1d;
  --color-background: #fef9f0;
  --color-surface: #fef9f0;
  --color-on-surface: #1d1c16;
  --color-on-background: #1d1c16;
  --color-on-surface-variant: #584142;
  --color-surface-container: #f2ede4;
  --color-surface-container-low: #f8f3ea;
  --color-surface-container-high: #ece8df;
  --color-surface-container-highest: #e7e2d9;
  --color-primary-container: #9b2335;
  --color-secondary-container: #fcd58c;
  --color-outline-variant: #dfbfbf;
  --color-tertiary: #3c3b3b;
  --color-tertiary-container: #535252;
  --color-error: #ba1a1a;

  --spacing-sidebar-width: 280px;
  --spacing-container-padding: 40px;
  --spacing-gutter: 24px;
  --spacing-stack-sm: 8px;
  --spacing-stack-md: 16px;
  --spacing-stack-lg: 32px;

  --font-family-headline: "EB Garamond", serif;
  --font-family-body: "DM Sans", sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;
}
