@import "tailwindcss";

.carrusel {
  scrollbar-width: none;
}

.carrusel::-webkit-scrollbar {
  display: none;
}


@theme {
  --color-primary: #7a0520;
  --color-secondary: #775a1d;
  --color-background: rgb(16, 16, 16);
  --color-surface: rgb(16, 16, 16);
  --color-on-surface: #e7e2da;
  --color-on-background: #e7e2da;
  --color-on-surface-variant: #bfb3a8;
  --color-surface-container: #1f1b1a;
  --color-surface-container-low: #171616;
  --color-surface-container-high: #262221;
  --color-surface-container-highest: #2b2827;
  --color-primary-container: #9b2335;
  --color-secondary-container: #fcd58c;
  --color-outline-variant: #dfbfbf;
  --color-tertiary: #3c3b3b;
  --color-tertiary-container: #535252;
  --color-error: #ba1a1a;

  --spacing-sidebar-width: 280px;
  --spacing-container-padding: 40px;
  --spacing-gutter: 24px;
  --spacing-stack-sm: 8px;
  --spacing-stack-md: 16px;
  --spacing-stack-lg: 32px;

  --font-family-headline: "EB Garamond", serif;
  --font-family-body: "DM Sans", sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromBlack {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes expandLine {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes caidaCuerda {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }

  60% {
    transform: rotateX(10deg);
    opacity: 1;
  }

  80% {
    transform: rotateX(-5deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes morphBlob {
  0% {
    border-radius: 50%;
  }

  50% {
    border-radius: 60% 40% 70% 30% / 50% 60% 40% 70%;
  }

  100% {
    border-radius: 50%;
  }
}
