@import "tailwindcss";

.carrusel {
  scrollbar-width: none;
}

.carrusel::-webkit-scrollbar {
  display: none;
}


@theme {
  --color-primary: #7a0520;
  --color-secondary: #775a1d;
  --color-background: rgb(16, 16, 16);
  --color-surface: rgb(16, 16, 16);
  --color-on-surface: #e7e2da;
  --color-on-background: #e7e2da;
  --color-on-surface-variant: #bfb3a8;
  --color-surface-container: #1f1b1a;
  --color-surface-container-low: #171616;
  --color-surface-container-high: #262221;
  --color-surface-container-highest: #2b2827;
  --color-primary-container: #9b2335;
  --color-secondary-container: #fcd58c;
  --color-outline-variant: #dfbfbf;
  --color-tertiary: #3c3b3b;
  --color-tertiary-container: #535252;
  --color-error: #ba1a1a;

  --spacing-sidebar-width: 280px;
  --spacing-container-padding: 40px;
  --spacing-gutter: 24px;
  --spacing-stack-sm: 8px;
  --spacing-stack-md: 16px;
  --spacing-stack-lg: 32px;

  --font-family-headline: "Outfit", serif;
  --font-family-body: "Nunito", sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;
}
